* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
}

.baymax {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.head {
    border: solid black 3px;
    padding: 40px;
    border-radius: 50px;
    margin-bottom: -40px;
    background-color: white;
}

.eyes {
    display: flex;
    justify-content: center;
}

.eye {
    background: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.line {
    background: black;
    height: 5px;
    width: 40px;
    margin-top: 6px;
}

.body {
    z-index: -1;
    display: flex;
}

.arm {
    height: 200px;
    width: 75px;
    background-color: white;
    margin-top: 40px;
    border-radius: 40px;
    border: black solid 3px;
}

.arm:first-child {
  transform: rotate(10deg) translateY(10px);
  margin-right: -15px;
}

.arm:last-child {
  transform: rotate(-10deg) translateY(10px);
  margin-left: -15px;
}

.middle {
  border: 3px solid black;
  width: 180px;
  height: 300px;
  border-radius: 120px 120px 60px 60px;
}

.legs {
    display: flex;
    gap: 20px;
}

.leg {
    height: 130px;
    width: 65px;
    margin-top: -20px;
    border-radius: 20px;
    border: black solid 3px;
    background-color: white;
}

.chipset {
    border: solid black 2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 115px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonLine {
    height: 4px;
    width: 25px;
    background-color: black;
}